-# メールアドレス、Google何で登録するか
:css
  header {
    display: none;
  }

  .app-banner {
    display: none;
  }

  footer {
    display: none;
  }
.step1
  .header
    .header__logo
      = link_to (image_tag src="/assets/material/logo/logo.png"), root_path   
  .main
    .main__content
      .main__content__title
        %p 新規会員登録
      .main__content__registration
        .main__content__registration__email
          = link_to "メールアドレスで登録する", step2_signup_index_path
          = icon("far", "envelope")
        .main__content__registration__facebook
          = link_to "Facebookで登録する", "#"
          = icon("fab", "facebook-square")    
        .main__content__registration__google
          = link_to "Googleで登録する", "#"
          = icon("fab", "google")
  .registration-footer
    = render "signup/registration-footer"
