-# 認証番号入力
:css
  header {
    display: none;
  }

  .app-banner {
    display: none;
  }

  footer {
    display: none;
  }

.step4

  .header

    .header__left
      = link_to (image_tag src="/assets/material/logo/logo.png"), root_path

    .header__right
      .header__right__top
        %ol
          %li 会員情報
          %li.red 電話番号認証
          %li 完了

      .header__right__bottom

  .main
    .main__content

      .main__content__title
        %p 電話番号認証

      .main__content__form
        = form_for @user, url: step5_signup_index_path, method: :get do |f|

          .main__content__form__group
            %h2 認証番号
            %input{class: "input", value:"", placeholder: "認証番号を入力"}
            %p SMSで届いた認証番号を入力してください
            = f.submit "認証して終了", class: "next"

          .main__content__form__group
            %h2 30秒たっても認証番号が届かない方へ
            %p 電話で認証番号を聞くこともできます。
            = link_to "電話で認証番号を聞く（通話無料）", "#", class: "tell"
            
          .main__content__form__group
            %h2 認証番号を再送することもできます。もう一度電話番号を入力して下さい。
            = link_to "電話番号を再度入力する", step3_signup_index_path, class: "return"
            %p
              ※SMSが届かない場合は
              = link_to "SMS受信設定", "#"
              を確認して、もう一度電話番号を入力してください。
  
  .registration-footer       
    = render "signup/registration-footer"
        