.main
  .main__mypage
    = render "shared/mypage-nav"
    .mypage-cards
      .mypage-cards__head
        支払い方法

      .mypage-cards__inner
        .mypage-cards__inner__list
          %label 登録クレジットカード情報
          .mypage-cards__inner__list__number
            = "**** **** **** " + @default_card.last4
          .mypage-cards__inner__list_expiration-date
            - exp_month = @default_card.exp_month.to_s
            - exp_year = @default_card.exp_year.to_s.slice(2,3)
            = exp_month + "/" + exp_year
          .mypage-cards__inner__list__delete
            = link_to "#" do
              %i.fas.fa-credit-card
              %p クレジットカードを削除する

          .mypage-cards__inner__add-card
            .mypage-cards__inner__add-card__content
              = link_to new_credit_card_path do
                %i.fas.fa-credit-card
                %p クレジットカードを登録する

          .mypage-cards__inner__method-pay
            = link_to "#" do
              %p.method-pay 支払い方法について
              %i.fas.fa-chevron-right