:css
  header {
    display: none;
  }

  .app-banner {
    display: none;
  }

  footer {
    display: none;
  }
.user-registration
  .header
    .header__logo
      = link_to root_path do
        =image_tag asset_path ("material/logo/logo.png")
  .main
    .main__content
      .main__content__title
        %p 新規会員登録
      .main__content__registration
        .main__content__registration__email
          = link_to "メールアドレスで登録する", new_user_registration_path
          = icon("far", "envelope")
        .main__content__registration__facebook
          = link_to "Facebookで登録する", "#"
          = icon("fab", "facebook-square")    
        .main__content__registration__google
          = link_to "Googleで登録する", "#"
          = icon("fab", "google")
    -#新規会員登録フッター 
  .registration-footer
    = render "devise/registrations/registration-footer"