-# ①人生を振り返るフリマアプリ
.main
  .main_image
    -# = image_tag src= "/assets/material/pict/pict-reason-01.jpg"
    .content
      .content_title
        %p 人生を変えるフリマアプリ
      .content_subtitle
        %p フリマはだれでもかんたんに出品・購入できる
        %p フリマアプリです
      .content_btn
        .app
          %a{:href => "/"}
            = image_tag src= "/assets/material/logo/appstore-logo.png"
        .google
          %a{:href => "/"}
            = image_tag src= "/assets/material/logo/google-logo.png"
  
  
  
  
  -# ②FURIMAが選ばれる3つの理由
  .three_resons
    .title
      %p FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list_pict
          .list_pict--number
          %p 1
          = image_tag src= "/assets/material/pict/pict-reason-01.jpg"
        .list_text
          %h1 3分 ですぐに出品
        %h2 スマホで入力するだけで簡単に出品ができる!
      %li.list
        .list_pict
          .list_pict--number
          %p 2
          = image_tag src= "/assets/material/pict/pict-reason-02.jpg"
        .list_text
          %h1 シンプル で使いやすい
        %h2 めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .list_pict
          .list_pict--number
          %p 3
          = image_tag src= "/assets/material/pict/pict-reason-03.jpg"
        .list_text
          %h1 手数料 業界最安
        %h2 最大3%でお得に出品&購入！















  .sub_image
  .furima_future
  .picup_category




  