:css
  header {
    display: none;
  }

  .app-banner {
    display: none;
  }

  footer {
    display: none;
  }
  
.buy-contents
  .buy-main
    .buy-main__item
      .buy-main__item__head
        購入内容の確認
      .buy-main__item__main
        .buy-main__item__inner
          .buy-main__item__box
            .buy-main__item__image
              = (image_tag @item.item_images.first.image_url, alt: 'item', height: '80px', width: '80px')
            .buy-main__item__detail
              .buy-main__item__detail__name
                = @item.name
              .buy-main__item__detail__price
                %span 
                  = @item.price
                  円
                %span (税込) 送料込み
      .buy-main__item__content
        .buy-main__item__content__inner
          %ul.buy-price
            %li.buy-price__label
              支払い金額
            %li.buy-price__cell
              ¥
              = @item.price
      .buy-main__item__info
        = form_tag(action: :pay, method: :post) do
          = button_tag('購入する', type: 'submit', class: 'buy-btn')