.navbar
  %ul.navbar__lists
    %li
      = link_to "FURIMA", "#", class: "navbar__lists--content"
    %li
      = icon("fas", "fa-angle-right")
    %li
      = link_to "ベビー・キッズ", "#", class: "navbar__lists--content"
    %li
      = icon("fas", "fa-angle-right")
    %li
      = link_to "ベビー服(男女兼用)~95cm", "#", class: "navbar__lists--content"
    %li
      = icon("fas", "fa-angle-right")
    %li
      = link_to "アウター", "#", class: "navbar__lists--content"
    %li
      = icon("fas", "fa-angle-right")
    %li
      = link_to "product1", "#", class: "navbar__lists--content"
.main
  .item
    .item__name
      = @item.name
    %ul.item__images
      %li
        // 1枚目に登録した画像の表示
        = image_tag @item.item_images.first.image_url, alt: "メイン画像", class: "item__images--main"
        %ul.item__images--others
          %li
            // 1〜10枚目に登録した画像を順番に表示
            - @item.item_images.each do |image|
              = image_tag image.image_url, alt: "サブ画像", class: "other"
    .item__price
      .item__price--yen
        = "¥#{@item.price}"
      .item__prise--detail
        %span.tax
          (税込)
          %br
        %span.fee
          = @item.shipping_fee
    .item__body
      = @item.description
    %table.item__table
      %tr
        %th.item__table--header
          出品者
        %td.item__table--data
          = @item.seller.nickname
      %tr.item__table--row
        %th.item__table--header
          カテゴリー
        %td.item__table--data
          // 親、子、孫カテゴリーの取得、表示。
          - @parents.each do |parent|
            - parent.children.each do |child|
              - child.children.each do |grandchild|
                -if @item.category_id == grandchild.id
                  = link_to parent.name, category_path(parent.id), class: "link"
                  %br
                  = link_to child.name, category_path(child.id), class: "link"
                  %br
                  = link_to grandchild.name, category_path(grandchild.id), class: "link"
                  %br
      %tr.item__table--row
        %th.item__table--header
          ブランド
        %td.item__table--data
          = @item.brand
      %tr.item__table--row
        %th.item__table--header
          商品のサイズ
        %td.item__table--data
          = @item.size
      %tr.item__table--row
        %th.item__table--header
          商品の状態
        %td.item__table--data
          = @item.condition
      %tr.item__table--row
        %th.item__table--header
          発送料の負担
        %td.item__table--data
          = @item.shipping_fee
      %tr.item__table--row
        %th.item__table--header
          発送元の地域
        %td.item__table--data
          = @item.shipping_method
      %tr.item__table--row
        %th.item__table--header
          発送日の目安
        %td.item__table--data
          = @item.shipping_date
    .item__option
      .item__option__like
        = icon("fas", "fa-star")
        お気に入り 0
      .item__option__report
        = icon("fas", "far-flag")
        = link_to "不適切な商品の通報", "#", class: "item__option__report--link"
    - if user_signed_in?
      - if current_user.id == @item.seller_id
        .item__edit
          = link_to "商品を編集する", edit_item_path(@item.id), method: :get, class: "item__edit--editBtn"
          or
          = link_to "削除", item_path(@item.id),data: {confirm: '本当に削除しますか?'}, class: "item__edit--deleteBtn"
      - else
        .item__purchase
          = link_to "購入画面に進む", purchase_item_path, method: :get, class: "item__purchase--btn"
  .comment
    %textarea.comment__body
    .comment__notes
      相手のことを考え丁寧なコメントを心がけましょう。
      %br
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .comment__btn
      %button{type: "submit", class: 'comment__btn--submit'}
        = icon("fas", "fa-comment")
        コメントする
  .links
    .links__left
      = icon("fa", "fa-angle-left")
      = link_to "前の商品", "#", class: "links__left"
    .links__right
      = link_to "後ろの商品", "#", class: "links__right"
      = icon("fas", "fa-angle-right")
  .reration
    // カテゴリー一覧ページへの遷移
    - @parents.each do |parent|
      - parent.children.each do |child|
        - child.children.each do |grandchild|
          -if @item.category_id == grandchild.id
            = link_to "#{parent.name}をもっと見る", category_path(parent.id), class: "reration__content"