.category
  .category__header
    %ul
      %li
        = link_to "FURIMA", root_path
      %li
        = icon("fa", "angle-right")
      %li
        = link_to "カテゴリ一覧", categories_path
      %li
        = icon("fa", "angle-right")
      %li
        = link_to "レディース", "#"
      %li
        = icon("fa", "angle-right")
      %li
        = link_to "トップス", "#"
      %li
        = icon("fa", "angle-right")
      %li
        = link_to "Tシャツ", "#"

  .category__main
    .category__main__title
      %h2 Tシャツの商品一覧
    .category__main__lists
      .card
        = link_to "#" do
          .card__image
            = image_tag asset_path("material/logo/kare.png")
            .card__image__text
              .card__image__text__name
                カレー
              .card__image__text__middle
                .card__image__text__middle__price
                  .number
                    100
                  .text
                    円
                .card__image__text__middle__like
                  .icon
                    = icon("fas", "star")
                  .number
                    0
              .card__image__text__tax
                (税込)
   