.category
  .category__header
    %ul
      %li
        = link_to "FURIMA", root_path
      %li
        = icon("fa", "angle-right")
      %li
        = link_to "カテゴリ一覧", categories_path
      %li
        = icon("fa", "angle-right")
      %li
        = link_to "レディース", "#"
      %li
        = icon("fa", "angle-right")
      %li
        = link_to "トップス", "#"
      %li
        = icon("fa", "angle-right")
      %li
        = link_to "Tシャツ", "#"

  .category__main
    .category__main__title
      %h2 
        = @category.name 
        の商品一覧
    .category__main__lists
      - @items.each do |item|
        .card
          = link_to item_path(item.id) do
            .card__image
              = image_tag item.item_images.first.image_url
              .card__image__text
                .card__image__text__name
                  = item.name
                .card__image__text__middle
                  .card__image__text__middle__price
                    .number
                      = item.price
                    .text
                      円
                  .card__image__text__middle__like
                    .icon
                      = icon("fas", "star")
                    .number
                      0
                .card__image__text__tax
                  (税込)