= image_tag asset_path ("material/pict/bg-appBanner-pict.jpg")
.app-banner__inner
  .app-banner__inner__text
    %h2
      だれでもかんたん、人生を変えるアプリ
    %p 今すぐ無料ダウンロード
  .app-banner__inner__icon
    .app-banner__inner__icon__left
      = link_to "#" do
        = image_tag asset_path ("material/logo/appstore-logo.png")
    .app-banner__inner__icon__right
      = link_to "#" do
        = image_tag asset_path ("material/logo/googleplay.png")
