.header__main
  .header__main__top
    .header__main__top__title
      = link_to root_path do
        = image_tag asset_path ("material/logo/logo.png"), class: "title-logo"
    .header__main__top__search
      .header__main__top__search__box
        %input{placeholder: "キーワードから探す", type: "text", class: "search-box"}
      .header__main__top__search__button
        %button{type: "submit", class: "submit-btn"}
          .header__main__top__search__button__icon
            = image_tag asset_path ("material/icon/icon-search 1.png"), class: "serach-icon"
  .header__main__bottom
    .header__main__bottom__left
      #category-area
        %p カテゴリー
        .category-clearfix
          = render "categories/category"
      .header__main__bottom__left__brand
        = link_to "ブランド", "#", class: "header-btn"
    .header__main__bottom__right
      - if user_signed_in?
        .header__main__bottom__right__login
          = link_to "マイページ", user_path(current_user.id), class: "header-btn"
        .header__main__bottom__right__logout
      - else
        .header__main__bottom__right__login
          = link_to "ログイン", new_user_session_path, class: "header-btn"
        .header__main__bottom__right__signup
          = link_to "新規会員登録", new_user_path, class: "header-btn"